.input-wrapper {
  position: relative;

  &__input {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #8e98a3;
    width: -webkit-fill-available;
    padding-left: 38px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #eaeff3;
    border: 1px solid #eaeff3;
    border-radius: 4px;
  }

  > svg {
    width: 12.5px;
    height: 12.5px;
    color: #363c44;
    position: absolute;
    left: 16px;
    top: 10px;
  }
}
