.component-detail {
  border: 0.063rem solid #d8dfe6;
  margin: 0.75rem 0.5rem 1rem 1rem;
  flex-basis: 60%;

  &__title-block {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.875rem 1rem;
    border-bottom: 0.063rem solid #d8dfe6;
  }

  &__title {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.75rem;
    color: #24292f;
  }

  &__status-icon {
    &--operating {
      > svg {
        > path,
        circle {
          fill: #52c41a;
        }
      }
    }

    &--alert {
      > svg {
        > path,
        circle {
          fill: #ed3833;
        }
      }
    }
  }

  &__asset-block {
    display: flex;
    gap: 1.5rem;
    margin: 1.5;
  }

  &__upload-image {
    border: 0.063rem dotted #55a6ff;
    background: #f2f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.25rem;
    padding: 5rem;
  }

  &__upload-image-text {
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #2188ff;
    margin-top: 0.125rem;
  }

  &__title {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #24292f;
  }

  &__description {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #88929c;
  }

  &__border {
    border: 0.063rem solid #e3eaef;
    margin: 1.5rem 0;
  }

  &__description-block {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__description-ellipse {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #2188ff;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
    color: #ffffff;
  }

  &__description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  &__sensor-receiver {
    margin: 1.5rem;
  }

  &__sensor-receiver-container {
    display: flex;
  }

  &__sensor-receiver-detail {
    flex: 0.5;
  }

  &__sensor-receiver-data {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
