@import 'styles/utils/breakpoint';

.header {
  width: 100%;
  background-color: #17192d;
  display: flex;
  flex-direction: column;

  @include breakpoint(tablet) {
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0 1rem;
  }

  &__logo-container {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(tablet) {
      justify-content: flex-start;
    }
  }

  &__buttons-container {
    background-color: white;
    padding-top: 1.875rem;

    @include breakpoint(tablet) {
      background-color: initial;
      padding-top: initial;
      display: flex;
      gap: 0.625rem;
    }
  }

  &__logo & svg {
    width: 7.875rem;
    height: 1.063rem;

    @include breakpoint(tablet) {
      width: 6.434rem;
      height: 0.875rem;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #023b78;
    border: 0.063rem solid #023b78;
    padding: 1.5rem 2rem;
    border-radius: 0.313rem;
    margin: 0 1.375rem;
    width: -webkit-fill-available;

    @include breakpoint(tablet) {
      padding: 0.25rem 0.5rem;
      border-radius: 0.125rem;
      margin: initial;
      width: auto;
      justify-content: space-between;
    }

    > svg {
      width: 1.319rem;
      height: 1.018rem;

      @include breakpoint(tablet) {
        width: 0.769rem;
        height: 0.594rem;
      }
    }

    &--clicked {
      background-color: #2188ff;
      border: 0.063rem solid #2188ff;
    }
  }

  &__button:not(:first-child) {
    margin-top: 2.5rem;

    @include breakpoint(tablet) {
      margin-top: initial;
    }
  }

  &__label-button {
    font-family: 'Inter', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: white;
    margin-left: 0.5rem;

    @include breakpoint(tablet) {
      font-size: 0.75rem;
      font-weight: 600;
      line-height: 1rem;
    }
  }

  &__assets-container {
    background-color: #17192d;
    display: flex;
    align-items: center;
  }

  &__assets-button {
    background-color: #17192d;
    border: 0.063rem solid #17192d;
    color: white;
    border-radius: 0;
    margin-left: 1.563rem;
  }

  &__assets-arrow {
    font-size: 1.875rem;
  }

  &__assets-title {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1.563rem;
  }
}
