@import 'styles/utils/breakpoint';

.header {
  width: 100%;
  background-color: #17192d;
  display: flex;
  flex-direction: column;

  @include breakpoint(tablet) {
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 0 16px;
  }

  &__logo-container {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(tablet) {
      justify-content: flex-start;
    }
  }

  &__buttons-container {
    background-color: white;
    padding-top: 30px;

    @include breakpoint(tablet) {
      background-color: initial;
      padding-top: initial;
      display: flex;
      gap: 10px;
    }
  }

  &__logo & svg {
    width: 126px;
    height: 17px;

    @include breakpoint(tablet) {
      width: 102.95px;
      height: 14px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #023b78;
    border: 1px solid #023b78;
    padding: 24px 32px;
    border-radius: 5px;
    margin: 0 22px;
    width: -webkit-fill-available;

    @include breakpoint(tablet) {
      padding: 4px 8px;
      border-radius: 2px;
      margin: initial;
      width: auto;
      justify-content: space-between;
    }

    > svg {
      width: 21.11px;
      height: 16.29px;

      @include breakpoint(tablet) {
        width: 12.31px;
        height: 9.5px;
      }
    }

    &--clicked {
      background-color: #2188ff;
      border: 1px solid #2188ff;
    }
  }

  &__button:not(:first-child) {
    margin-top: 40px;

    @include breakpoint(tablet) {
      margin-top: initial;
    }
  }

  &__label-button {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: white;
    margin-left: 8px;

    @include breakpoint(tablet) {
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
    }
  }

  &__assets-container {
    background-color: #17192d;
    display: flex;
    align-items: center;
  }

  &__assets-button {
    background-color: #17192d;
    border: 1px solid #17192d;
    color: white;
    border-radius: 0;
    margin-left: 25px;
  }

  &__assets-arrow {
    font-size: 30px;
  }

  &__assets-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-right: 25px;
  }
}
