.dashboard-buttons {
  display: flex;
  align-items: center;
  margin-top: 8px;
  gap: 8px;

  &__button {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #77818c;
    background-color: #ffffff;
    border: 1px solid #d8dfe6;
    padding: 6px 16px 6px 14px;
    border-radius: 3px;
    gap: 6px;

    > svg {
      > path {
        fill: #2188ff;
      }
    }

    &--clicked {
      color: #ffffff;
      background-color: #2188ff;

      > svg {
        > path {
          fill: #ffffff;
        }
      }
    }
  }
}
