@import 'styles/utils/breakpoint';

.dashboard {
  @include breakpoint(desktop) {
    border: 0.5rem solid #d8dfe6;
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
  }

  &__search-container {
    margin: 1rem;

    @include breakpoint(desktop) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 1.125rem;
    }
  }

  &__title-container {
    display: flex;
    align-items: center;
    gap: 0.438rem;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
    color: #24292f;
  }

  &__unit-name {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #77818c;
  }

  &__border {
    border: 0.063rem solid #eaeef2;
  }

  &__result {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  &__result-tree-view {
    margin: 0.75rem 0.5rem 1rem 1rem;
    border: 0.063rem solid #d8dfe6;
    flex-basis: 100%;

    @include breakpoint(desktop) {
      flex-basis: 40%;
    }
  }
}
