@import 'styles/utils/breakpoint';

.dashboard {
  @include breakpoint(desktop) {
    border: 8px solid #d8dfe6;
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
  }

  &__search-container {
    margin: 16px;

    @include breakpoint(desktop) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 16px 18px;
    }
  }

  &__title-container {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #24292f;
  }

  &__unit-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #77818c;
  }

  &__border {
    border: 1px solid #eaeef2;
  }

  &__result {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  &__result-tree-view {
    margin: 12px 8px 16px 16px;
    border: 1px solid #d8dfe6;
    flex-basis: 100%;

    @include breakpoint(desktop) {
      flex-basis: 40%;
    }
  }
}
